useDynLib(testarma1, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppArmadillo, armadillo_version)
importFrom(r2sundials, r2cvodes)
importFrom(rmumps, solvet)
exportPattern("^[[:alpha:]]+")
